<div ng-controller="view10Ctrl">

    <div style="max-width: 1000px; margin: auto">

        <h1>How have you fulfilled your grandparent's dreams?</h1>


        <md-checkbox ng-model="isChecked" ng-init="isChecked=true"  aria-label="Finished?">
            Good Education?
        </md-checkbox>

        <br>


        <md-checkbox ng-model="isChecked" ng-init="isChecked=true"  aria-label="Finished?">
            Achieved your dream job?
        </md-checkbox>

        <br>

        <md-checkbox ng-model="isChecked" ng-init="isChecked=true"  aria-label="Finished?">
            Live in a safe neighborhood?
        </md-checkbox>

        <br>

        <md-checkbox ng-model="isChecked" ng-init="isChecked=true"  aria-label="Finished?">
            Will go to college?
        </md-checkbox>

    </div>


</div>