<form layout="row">
    <div style="width:50%; text-align: center">

        <img class="img-circle" src="../res/prof_pic_placeholder.png"><br>

        <div style="text-align: center; padding-top: 50px">grandchild</div>

        <div style="padding-top: 50px">
            <md-input-container>
                <label>Name</label>
                <input ng-model="young.name">
            </md-input-container>

            <md-input-container>
                <label>Age</label>
                <input ng-model="young.age">
            </md-input-container>
        </div>

    </div>

    <md-divider md-inset></md-divider>

    <div style="width:50%; text-align: center">

        <img class="img-circle" src="../res/prof_pic_placeholder.png"><br>

        <div style="text-align: center; padding-top: 50px">grandchild</div>

        <div style="padding-top: 50px">
            <md-input-container>
                <label>Name</label>
                <input ng-model="young.name">
            </md-input-container>

            <md-input-container>
                <label>Age</label>
                <input ng-model="young.age">
            </md-input-container>
        </div>

    </div>


</form>

<div ng-controller="view2Ctrl">

    <p>Hello</p>
    <p>{{ sharedData }}</p>

</div>

