/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.img-circle {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
    width: 100%;
    height: auto;
}

.background-img {
    width: 100%;
    background-image: url("./res/backgrounds/1_1.png");
    /*filter: blur(3px);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.big-text {
    line-height: 0%;
}

/*override the transparent background*/
md-input-container.md-default-theme label,
md-input-container.md-default-theme .md-placeholder{
    color:#FFFFFF !important;
}

md-input-container .md-input {

    color: rgba(255,255,255,0.87);
    border-color: rgba(254,253,103,0.82);

}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    text-decoration-color: #FFFFFF;
    color: rgba(255,255,255,0.87);
    border-color: #FFFFFF;
}

