.menu-bar {
  display: block;
  background: blue;
  color: white;
  padding: 0.5em;
}

.nav-menu {
  position: absolute;
  display: inline-block;
  right: 0;
  background: lightblue;
}

.content {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  top: 2em;
  overflow-y: auto;
}

#page1 {
  background: lightgreen;
}

#page2 {
  background: lightblue;
}

#page3 {
  background: red;
}

.scroll {
  transform: translate3d(0, 0, 0);
  display: block;
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;

  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    > div {
      min-height: 100%;
      padding: 1em;
    }
  }
  $duration: 1s;
  .scrolled {
    transition: transform $duration ease;
    transform: translate3d(0, 0, 0);
    &.ng-enter {
      transform: translate3d(100%, 0, 0);
    }
    &.ng-enter-active {
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave {
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave-active {
      transform: translate3d(-100%, 0, 0);
    }
  }
  .modal {
    transition: opacity $duration ease, transform $duration ease;
    opacity: 1;
    &.ng-enter {
      opacity: 0;
      transform: scale(0.95) translate3d(0, 0.5em, 0);
    }
    &.ng-enter-active {
      opacity: 1;
      transform: scale(1) translate3d(0, 0, 0);
    }
    &.ng-leave {
      opacity: 1;
    }
    &.ng-leave-active {
      opacity: 0;
    }
  }
  .backward {
    .scrolled {
      &.ng-leave {
        transform: translate3d(0, 0, 0);
      }
      &.ng-leave-active {
        transform: translate3d(100%, 0, 0);
      }
      &.ng-enter {
        transform: translate3d(-100%, 0, 0);
      }
      &.ng-enter-active {
        transform: translate3d(0, 0, 0);
      }
    }
    .modal {
      transition: opacity $duration ease, transform $duration ease;
      opacity: 1;
      &.ng-enter {
        opacity: 0;
        transform: scale(1) translate3d(0, 0, 0);
      }
      &.ng-enter-active {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
      }
      &.ng-leave {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
      }
      &.ng-leave-active {
        opacity: 0;
        transform: scale(0.95) translate3d(0, 0.5em, 0);
      }
    }
  }
}

div[type='movie'] {
  img {
    float: right;
    padding: 1em 0 1em 1em;
  }
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  touch-action: manipulation;
  background: lightgreen;
}

button, input {
  min-height: 8mm;
  margin: 2mm;
}

a {
  padding-right: 1em;
}

h1 {
  margin: 0;
}