<div ng-controller="view8Ctrl">


    <center>

        <h1>, what do you want to be when you grow up?</h1>

        <br>

        <div>

            <div id="container">
                <a ng-click="setJob('Engineer')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206899.svg" width="100px" height="100px" />
                        <figcaption>Engineer</figcaption>
                    </figure>
                </a>
                <a ng-click="setJob('Doctor')" >
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206855.svg" width="100px" height="100px" />
                        <figcaption>Doctor</figcaption>
                    </figure>
                </a>
                <a ng-click="setJob('Teacher')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206897.svg" width="100px" height="100px" />
                        <figcaption>Teacher</figcaption>
                    </figure>
                </a>

            </div>

            <div id="container">
                <a ng-click="setJob('Businessman')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206853.svg" width="100px" height="100px" />
                        <figcaption>Businessman</figcaption>
                    </figure>
                </a>
                <a ng-click="setJob('Chef')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206898.svg" width="100px" height="100px" />
                        <figcaption>Chef</figcaption>
                    </figure>
                </a>
                <a ng-click="setJob('Police')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206867.svg" width="100px" height="100px" />
                        <figcaption>Police</figcaption>
                    </figure>
                </a>

            </div>


            <div id="container">
                <a ng-click="setJob('Writer')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206860.svg" width="100px" height="100px" />
                        <figcaption>Writer</figcaption>
                    </figure>
                </a>
                <a ng-click="setJob('Academic')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206856.svg" width="100px" height="100px" />
                        <figcaption>Academic</figcaption>
                    </figure>
                </a>
                <a ng-click="setJob('Actor')">
                    <figure>
                        <img src="https://image.flaticon.com/icons/svg/206/206863.svg" width="100px" height="100px" />
                        <figcaption>Actor</figcaption>
                    </figure>
                </a>

            </div>



        </div>


    </center>


</div>
