<div ng-controller="view5Ctrl">
    <div style="text-align: center">
        <h1 style="text-align: center">How did you get<br>ready for<br>school?</h1>

        <center>
            <form layout="row">

                <div style="max-width: 1000px; margin:auto">

                    <div id="container">
                        <a ng-click="setJob('Engineer')">
                            <figure>
                                <img src="../res/school/desk.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Doctor')" >
                            <figure>
                                <img src="../res/school/book.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Teacher')">
                            <figure>
                                <img src="../res/school/ipod.png" width="100px" height="100px" />
                            </figure>
                        </a>

                    </div>

                    <div id="container">
                        <a ng-click="setJob('Businessman')">
                            <figure>
                                <img src="../res/school/television.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Chef')">
                            <figure>
                                <img src="../res/school/marker.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Police')">
                            <figure>
                                <img src="../res/school/tricycle.png" width="100px" height="100px" />
                            </figure>
                        </a>

                    </div>

                    <md-divider></md-divider>




                </div>
>
                <div style="max-width: 1000px; margin:auto">

                    <div id="container">
                        <a ng-click="setJob('Engineer')">
                            <figure>
                                <img src="../res/school/desk.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Doctor')" >
                            <figure>
                                <img src="../res/school/book.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Teacher')">
                            <figure>
                                <img src="../res/school/ipod.png" width="100px" height="100px" />
                            </figure>
                        </a>

                    </div>

                    <div id="container">
                        <a ng-click="setJob('Businessman')">
                            <figure>
                                <img src="../res/school/television.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Chef')">
                            <figure>
                                <img src="../res/school/marker.png" width="100px" height="100px" />
                            </figure>
                        </a>
                        <a ng-click="setJob('Police')">
                            <figure>
                                <img src="../res/school/tricycle.png" width="100px" height="100px" />
                            </figure>
                        </a>

                    </div>

                    <md-divider></md-divider>




                </div>

            </form>


        </center>

    </div>
    <div style="text-align: center">
        <md-button class="md-raised" ng-click="shareMyData('booleanUS1val', booleanUS1Val)">next</md-button>
    </div>
</div>