<form>
    <div style="float:left; width:50%; text-align: center">
        <img class="img-circle" src="../res/prof_pic_placeholder.png"><br>

        <div style="padding-top: 50px">
            <md-input-container>
                <label>Name</label>
                <input ng-model="young.name">
            </md-input-container>

            <md-input-container>
                <label>Age</label>
                <input ng-model="young.age">
            </md-input-container>
        </div>


    </div>
    <div style="float:left; width:50%; text-align: center">
        <img class="img-circle" src="../res/prof_pic_placeholder.png"><br>

        <div style="padding-top: 50px">
            <md-input-container>
                <label>Name</label>
                <input ng-model="old.name">
            </md-input-container>

            <md-input-container>
                <label>Age</label>
                <input ng-model="old.age">
            </md-input-container>
        </div>

    </div>

    <div style="text-align: center">
        <md-button class="md-raised">Submit</md-button>
    </div>

</form>
